/* App.css */

/* Definindo o fundo da página */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* Estilo para o header */
header img {
    max-width: 200px;
}

/* Estilo dos cards */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    border-radius: 10px;
    object-fit: cover;
}

.table td,
.table th {
    white-space: nowrap;
    /* Impede a quebra de linha */
}